<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if user}}
  <div class="row">
    <div class="col-md-6">
      {{#each errorMessages}}
        <div class="alert alert-danger">
          {{this.msg}}
        </div>
      {{/each}}
      <form action="/createTask" class="form-inline" method="post">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" name="title" placeholder="Task Title">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Create New Task</button>
      </form>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-md-6">
      {{#if tasks}}
        <h3>Your list of tasks</h3>
        <ul class="list-group">
          {{#each tasks}}
            <li class="list-group-item">
              <a href="/task/{{this._id}}">{{this.title}}</a>
              <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <h3>Task list is empty.</h3>
        <p>Create a new collaboration task by clicking on the button above.</p>
      {{/if}}
    </div>
  </div>
{{/if}}
